[tool.poetry]
name = "kfp-toolbox"
version = "0.1.1"
description = "The toolbox for kfp (Kubeflow Pipelines SDK)"
authors = ["Takahiro Yano <speg03@gmail.com>"]

readme = "README.md"
license = "MIT"

homepage = "https://github.com/speg03/kfp-toolbox"
repository = "https://github.com/speg03/kfp-toolbox"

keywords = ["kfp", "kubeflow", "pipelines"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
kfp = "^1.8"
importlib-metadata = { version = "*", python = "<3.8" }

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-cov = "^3.0"
black = "^22.3"
flake8 = "^4.0"
isort = "^5.10"

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "--cov=kfp_toolbox --cov-report=term-missing --cov-report=xml"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
