name: Python Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry

      - name: Build
        run: poetry build

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: ./dist
          retention-days: 1

  test:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: ./poetry.lock

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: ./dist

      - name: Install dependencies
        run: |
          pip install "$(ls ./dist/kfp_toolbox-*-py3-none-any.whl)[test]"

      - name: Test
        run: make test

      - name: Upload coverage reports
        uses: codecov/codecov-action@v3
